.game-img {
    height: 11em;
    width:11em;
    padding:1em;
    border: solid 1px black;
    background-color: white;
}

.game-img:hover {
    cursor: pointer;
    border:solid 2px red;
    background-color: ivory;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: inset 0 0 0 25px #53a7ea;
}